/* index style */
.navbar-brand{
    margin:0 25em 0 2em;
}
.nav-item{
    justify-content: space-between;
    margin-right: 2em;
}
.jumbotron{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100vw;
    height: 75vh;
    background-image: url(../header-bg.png);

}

.top{
    padding: 7em 0 5em 12em;   
}
.top p{
    font-size:20px;
}
.top h1{
    font: size 36px;
}
hr{
    margin:0 3em 0 3em;
    color: grey;

}
.feature{
    padding: 2em;
}
.feature .btn-2{
    margin-left: 15em;
}
#explore{
    margin: 3em 0 3em 0;
}
.card-title{
    text-align: left;
}
#explore h4{
    margin: 1em 0em 1em 5em;
}
#howItWorks{
    margin: 3em 0 3em 0;
}
#howItWorks h4{
margin: 1em 0 1em 0;
}
#howItWorks img{
    width: 80px;

}
#OurStories{
    margin: 3em 0 3em 0;
}
#OurStories h4{
    margin: 1em 0 1em 0;
}
/* footer */
footer{
    margin: 3em 0 3em 0;  
}

footer a {
    color: black;
    padding-top: 2em;
}
.logo-footer{
    color: black;
    padding: 2em;
}
.copyright{
    text-align: center;
    padding: 2em;

}
/* signup,signin,startproject-box forms */
.signin-box {
    height: 120vh;
    margin-top: 5em;
    
}
.signin-box  h3,h5{
 padding: 14px;
    text-align: center;
}
.signup-box h3,h5{
    padding: 14px;
    text-align: center;
}
.signup-box{
    height: 150vh;
    margin-top: 5em;    
}
.startproject {
    height: 170vh;
    margin-top: 5em;
    
}
.startproject h3,h5{
padding: 14px;
    text-align: center;
}


/* popup projectsuceess and sigupsuccess */
.pbox{
    height: 100vh;
}

.pop{
    margin-top: 5em;
    background-color: white;
    color:black;
    text-align: center;
    width: 70%;
    height: 100%;
}
.pop h3,h6{
margin-top: 2em;
/* padding:2em; */
}
.abox{
    height: 100vh;
}
.box{
    margin-top: 5em;
    background-color: white;
    color:black;
    text-align: center;
    width: 70%;
    height: 100%;
}
.box h3,h6{
margin-top: 2em;
/* padding:2em; */
}
/* projectprofile.html */

.card-title{
    padding: 1em;
}
.donate{
    text-align: center;
}

.ppbody{
    height: 250vh;

}
caption{
    padding-top: 3em;
}
.continue{
    margin: 1em 0 1em 0;
width:100%;
    text-align: center;
}
.feature-top{
    margin-top: 0;
}
.feature-top h5{
    text-align:left;
    padding: 2em 0 2em 0;
}
.line{
    position: absolute;

    width: 0px;
    height: 200px;
    left: 0;
    top: 0px;
    border: 9px solid #4CB944;
    transform: rotate(0 deg);
    margin: 0;
    padding: 0;
}
.more{
    padding-left: 4.5em;
}
.quote{
    margin-left: 3em;
}

img{
    width: 100%;
    padding-bottom: 2em;
}
span{
    display: flex;
 
}
span img{
    width:100px;
    border-radius: 50%;

}
span p a{
    color: black;
    margin: 10em 0 0 3em; 
    padding: 0;
}
.container{
    margin-bottom: 2em;
}